<html>
<body>
<h1>Players for Game</h1>
  <h2>Admin Code:  <%= @game.admin_shortcode %></h2>
  <h2>Read Only Code:  <%= @game.shortcode %></h2>
  <h2> Players </h2>
  <ul>
    <%= for player <- @game.players do %>
      <li>
        <%= player.name %> | <%= player.buyin_count%> buyins
      </li>
    <% end %>
  </ul>
  <%= form_for @conn, Routes.game_path(@conn, :add_player), [method: :post, as: :player], fn f -> %>
    Name: <%= text_input f, :name %>
    <%= hidden_input f, :game_id, value: @game.id%>
    <%= submit "Add Player" %>
  <% end %>
  <%= 
    link to: Routes.game_path(@conn, :view_game, admin_shortcode: @game.admin_shortcode) do
      raw "<button>Done Adding Players</button>"
    end
  %>
</body>
</html>