<div class="btn white darken-4 col s10 m4">
     <a href="/game/new" style="text-transform:none">
         <button>Start a Game</button>
     </a>
     <br><br><br>
    <%= form_for @conn, Routes.game_path(@conn, :view_game), [method: :get], fn f -> %>
        <%= text_input f, :shortcode %>
        <%= submit "Find Game" %>
    <% end %>
</div>